<!DOCTYPE html>
<html lang="en">
<!-- 
https://www.kaggle.com/c/walmart-recruiting-store-sales-forecasting
http://shiny.rstudio.com/gallery/basic-datatable.html
http://shiny.rstudio.com/gallery/
https://github.com/FBracun/DevelopDataProducts
-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/homedashboard.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/predection.css">

    <link href="/static/css/predection_form.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/portal.css">
    <!---->
    <link href="/static/css/libs.css" rel="stylesheet">
    <!---->
    <!---->
    <!---->
    <script type="text/javascript" charset="utf-8" async="" src="/static/js/markdown.js"></script>
    <!---->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/icons_google.css" />
    <!-- jquery cdn link  -->
    <script src="/static/js/jquery.min.js"></script>


    <script src="/static/js/chart.js"></script>




    <title>Document</title>
</head>

<body onload="init()">

    <!---->

    <div class="general-container">

        <aside class="menu-panel" role="complementary">
            <div class="hide-since-tablet" psi-proxy-user-popup="">
                <a id="profile_head-secound" aria-label="profile menu"
                    class="dark-link profile-link profile-menu profile-link--in-menu" role="link" tabindex="0">
        
                    <ins class="nav-menu-icon nav-menu-icon--user">
                        <span id="profile-circle" class=" material-symbols-outlined">
                            account_circle
                        </span>
                    </ins>
        
                    <div class="profile-link__user">abd el madjid kahoul</div>
        
                    <!---->
        
        
                    <ins class="profile-link__trigger">
                        <span id="profile-arrow-2" class=" material-symbols-outlined">
                            expand_more
                        </span>
                    </ins>
                </a>
        
        
        
                <div class="side-account-profil none">
                    <ul class="contenait">
                        <li>
                            <a id="account" role="link" tabindex="0" href="account.html">
                                <ins class="initials initials--big" style="background-color: rgb(15, 46, 76);">
                                    ae
                                </ins>
        
        
                                <div class="">account</div>
        
                            </a>
                        </li>
                        <li>
                            <a id="sign_out" role="link" tabindex="0">
        
                                <ins class="">
                                    <span class="material-symbols-outlined">
                                        logout
                                    </span>
                                </ins>
        
                                <div class="">sign out</div>
        
        
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        
        
            <div class="menu-panel__content">
                <div class="menu-panel__content_header">
                    <a class="side-menu-logo hide-up-to-tablet" role="banner" routerlink="/" title="Homepage" href="home.html">
                        <img alt="Logo"
                            src="https://lh3.googleusercontent.com/gECq6EE_h78vyZ82KX5HrfOnysD6LKvbXIZp7g4lWiBfH57XNTd6pMeV4UHNhZKfYzX1YKU3LN5Y0P7LgsR8KO7DiHmOO6dXag6WMBgkJ4e9N2EbdV0Q7687D47YAbN14VglQOhjEg=w2400"
                            width="70" height="55">
                    </a>
                    <div>
                        <a class="side-menu-logo-title" href="home.html">
                            <p class="u-hidden-sm u-hidden-xs u-text u-text-palette-3-base u-text-1 animated customAnimationIn-played"
                                data-animation-name="customAnimationIn" data-animation-duration="1000"
                                data-animation-direction=""
                                style="will-change: transform, opacity; animation-duration: 1000ms;">Quick </p>
                            <p class="u-hidden-sm u-hidden-xs u-text u-text-palette-1-base u-text-2 animated customAnimationIn-played"
                                data-animation-name="customAnimationIn" data-animation-duration="1000" data-lang-en="Lab"
                                style="will-change: transform, opacity; animation-duration: 1000ms;">
                                Lab</p>
                        </a>
                    </div>
                </div>
                <!---->
                <p-panelmenu aria-label="Main Menu" aria-labelledby="Main Menu" role="navigation" tabindex="0"
                    class="ng-tns-c15-13">
                    <div class="ng-tns-c15-13 side-menu ui-panelmenu ui-widget">
                        <!---->
                        <div class="menu-element ui-panelmenu-panel ng-tns-c15-13"
    >
                            <div
                                class="ng-tns-c15-13 ui-panelmenu-directlink ui-widget ui-panelmenu-header ui-state-default ui-corner-top">
                                <!---->
                                <!---->
                                <a class="ng-tns-c15-13 ui-panelmenu-headerlink-hasicon ui-state-active" href="/"
                                    >
                                    <!---->
                                    <!---->
        
                                    <span class="icons material-symbols-outlined">
                                        home
                                    </span>
        
                                    <span class="ui-menuitem-text">sales by store</span>
                                </a>
                            </div>
                            <!---->
                        </div>
                        <div class="menu-element ui-panelmenu-panel ng-tns-c15-13">
                            <div class="ng-tns-c15-13 ui-panelmenu-directlink ui-widget ui-panelmenu-header ui-state-default">
                                <!---->
                                <!---->
                                <a class="ng-tns-c15-13 ui-panelmenu-headerlink-hasicon" href="/sales_store_size">
                                    <!---->
                                    <!---->
                                    <span class="icons material-symbols-outlined">
                                        calendar_add_on
                                    </span>
                                    <span class="ui-menuitem-text">sales store by  size </span>
                                </a>
                            </div>
                            <!---->
                        </div>
                            <div class="menu-element ui-panelmenu-panel ng-tns-c15-13">
                                <div class="ng-tns-c15-13 ui-panelmenu-directlink ui-widget ui-panelmenu-header ui-state-default">
                                    <!---->
                                    <!---->
                                    <a class="ng-tns-c15-13 ui-panelmenu-headerlink-hasicon" href="/sales_wise_store">
                                        <!---->
                                        <!---->
                                        <span class="icons material-symbols-outlined">
                                            calendar_add_on
                                        </span>
                                        <span class="ui-menuitem-text">sales wise store </span>
                                    </a>
                                </div>
                                <!---->
                            </div>
                        <div class="menu-element ui-panelmenu-panel ng-tns-c15-13">
                            <div class="ng-tns-c15-13 ui-panelmenu-directlink ui-widget ui-panelmenu-header ui-state-default">
                                <!---->
                                <!---->
                                <a class="ng-tns-c15-13 ui-panelmenu-headerlink-hasicon" href="/sales_by_month_and_year">
                                    <!---->
                                    <!---->
                                    <span class="icons material-symbols-outlined">
                                        calendar_month
                                    </span>
                                    <span class="ui-menuitem-text">Sales by month and year</span>
                                </a>
                            </div>
                            <!---->
                        </div>
                        <div class="menu-element ui-panelmenu-panel ng-tns-c15-13"
                        style="background-color: #46807F;border:1px solid white ;border-radius: 15px;">
                            <div class="ng-tns-c15-13 ui-panelmenu-directlink ui-widget ui-panelmenu-header ui-state-default">
                                <!---->
                                <!---->
                                <a class="ng-tns-c15-13 ui-panelmenu-headerlink-hasicon" href="/markdown"
                                 style="font-weight: 700;color: white;">
                                    <!---->
                                    <!---->
                                    <span class=" icons material-symbols-outlined">
                                        assignment
                                    </span>
                                    <span class="ui-menuitem-text">sales by markdown</span>
                                </a>
                            </div>
                            <!---->
                        </div>
                        <div class="menu-element ui-panelmenu-panel ng-tns-c15-13">
                            <div class="ng-tns-c15-13 ui-panelmenu-directlink ui-widget ui-panelmenu-header ui-state-default">
                                <!---->
                                <!---->
                                <a class="ng-tns-c15-13 ui-panelmenu-headerlink-hasicon" href="/predection">
                                    <!---->
                                    <!---->
                                    <span class="icons material-symbols-outlined">
                                        chat
                                    </span>
                                    <span class="ui-menuitem-text">Predection</span>
                                </a>
                            </div>
                            <!---->
                        </div>
        
                        <div class="menu-element ui-panelmenu-panel ng-tns-c15-13">
                            <div class="ng-tns-c15-13 ui-menu-separator ui-widget ui-panelmenu-header ui-state-default">
                                <!---->
                                <a class="ng-tns-c15-13" href="#">
                                    <!---->
                                    <!---->
                                    <span class="ui-menuitem-text"></span>
                                </a>
                                <!---->
                            </div>
                            <!---->
                        </div>
        
                    </div>
                </p-panelmenu>
            </div>
            <!---->
            <!---->
            <!---->
            <!---->
            <div class="flex-push"></div> <!----><!----><!----><!----><!----><!----><!---->
            <!---->
            <!---->
            <!---->
            <!---->
        
        </aside>
        <div psi-menu-overlay="">
            <div class="menu-panel-overlay">

            </div>
        </div>

        <section class="content-panel" role="main">

            <header class="header hide-on-print">
                <div class="header-wrapper">
                    <div class="header__panel">
                        <ul class="header-menu-bar">
            
                            <li class="header-menu-bar__item hide-since-desktop hide-on-print" psi-menu-trigger="">
                                <a id="menu-link_button" class="profile-link hamburger-link hide-since-desktop">
            
                                    <ins class="nav-menu-icon nav-menu-icon--hamburger">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            version="1.1" x="0px" y="0px" viewBox="0 0 512 512"
                                            style="enable-background:new 0 0 512 512;" class="icon-svg icon-svg__size--24 "
                                            xml:space="preserve">
                                            <g>
                                                <path
                                                    d="M85 341l342 0c11,0 21,10 21,22l0 0c0,11 -10,21 -21,21l-342 0c-11,0 -21,-10 -21,-21l0 0c0,-12 10,-22 21,-22z">
                                                </path>
                                                <path
                                                    d="M85 235l342 0c11,0 21,9 21,21l0 0c0,12 -10,21 -21,21l-342 0c-11,0 -21,-9 -21,-21l0 0c0,-12 10,-21 21,-21z">
                                                </path>
                                                <path
                                                    d="M85 128l342 0c11,0 21,10 21,21l0 0c0,12 -10,22 -21,22l-342 0c-11,0 -21,-10 -21,-22l0 0c0,-11 10,-21 21,-21z">
                                                </path>
                                            </g>
                                        </svg>
                                    </ins>
            
                                    <h6>Menu</h6>
                                </a>
                            </li>
            
            
                            <li>
                                <!---->
                            </li>
            
                            <!---->
                            <p-tabmenu>
                                <div class="ui-tabmenu ui-widget ui-widget-content ui-corner-all">
                                    <ul class="ui-tabmenu-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
                                        role="tablist">
                                        <!---->
                                    </ul>
                                </div>
                            </p-tabmenu>
                        </ul>
                    </div>
                    <div class="header__panel header__panel--spacer hide-on-print"></div>
                    <div class="header__panel hide-on-print">
                        <ul class="header-menu-bar header-menu-bar--main">
            
                            <li id="profile-info-1" class="header-menu-bar__item header-menu-bar__item--main hide-up-to-tablet"
                                psi-proxy-user-popup="" psieventtracker="">
                                <a id="profile_head-main" aria-label="profile menu" class="dark-link profile-link profile-menu"
                                    role="link" tabindex="0">
            
                                    <ins class="nav-menu-icon nav-menu-icon--user">
                                        <span id="profile-circle" class=" material-symbols-outlined">
                                            account_circle
                                        </span>
                                    </ins>
            
                                    <div class="profile-link__user">abd el madjid kahoul</div>
            
                                    <!---->
            
                                    <ins class="profile-link__trigger">
                                        <span id="profile-arrow" class=" material-symbols-outlined">
                                            expand_more
                                        </span>
                                    </ins>
            
                                </a>
            
                                <p-overlaypanel>
            
                                </p-overlaypanel>
            
                                <!---->
                            </li>
                            <!---->
                            <li id="notification"
                                class="header-menu-bar__item header-menu-bar__item--main header-menu-bar__item--last"
                                psi-alert-popup="" psieventtracker="">
            
            
                                <span class="notifications-overlay-arrow__hidden"></span>
                                <a>
                                    <ins class="nav-menu-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            version="1.1" x="0px" y="0px" viewBox="0 0 512 512"
                                            style="enable-background:new 0 0 512 512;"
                                            class="icon-svg icon-svg__size--24 icon-svg__color--darker-blue" xml:space="preserve">
                                            <path
                                                d="M483,433l-38-86V181C445,81,361,0,256,0C152,0,67,81,67,181v166l-38,85c-2,4-2,9,1,12c2,4,6,6,11,6h131 c7,36,40,62,78,62s70-26,77-62h144c5,0,9-2,11-6C485,441,485,436,483,433z M250,487c-24,0-45-15-51-37h101C294,472,273,487,250,487z ">
                                            </path>
                                        </svg>
                                    </ins>
                                    <!---->
                                    <span class="notification-bubble">
                                        3
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            
                <div id="notification_panel"
                    class="  notifications-overlay false ui-overlaypanel ui-widget ui-widget-content ui-corner-all ui-shadow"
                    style=" z-index: 1007; visibility: visible; top: 180.719px; left: 703.333px; opacity: 1.048;    transform: scale(0)">
                    <div class="ui-overlaypanel-content">
            
                        <h6 class="linked-heading indent-bottom">
                            <span psimsg="alert.title">Recent Notifications</span>
                            <a class="text-style--bold" psimsg="alert.showAll" href="notification.html">show All</a>
                            <a class="text-style--bold" psimsg="alert.clearAll">Clear All</a>
                        </h6>
                        <ul style="position: relative;">
                            <!---->
                            <li class="bordered-block notification">
                                <div class="notification__type notification__type--1"></div>
                                <div class="notification__data">
                                    <div>
                                        <strong>Remember:</strong>
                                        Your patient record contains important and sensitive information. Keep it secure
                                        by using a
                                        <a href="https://support.patientaccess.com/account-details/change-password"
                                            target="_blank">strong password</a>.
                                    </div>
                                    <!---->
                                    <div class="indent-top">
                                        <a class="text-style--bold" psimsg="alert.dismissAlert">Don’t show this
                                            again</a>
                                    </div>
                                </div>
                                <!---->
                                <div class="notification__hide">
                                    <span class=" material-symbols-outlined">
                                        disabled_by_default
                                    </span>
                                </div>
                            </li>
                        </ul>
            
            
                    </div>
                    <!---->
                </div>
            
                <div id="user-menu" class="user-menu">
            
                    <!---->
                    <div class="">
                        <div class="profile-pane">
                            <ins class="initials initials--big" style="background-color: rgb(15, 46, 76);">
                                ae
                            </ins>
            
                            <div class="profile-pane__data">
                                <div class="profile-pane__user">abd el madjid kahoul</div>
            
                                <!----><a class="link--blue text-style--bold proxy-user-account-link" psimsg="proxyUser.accountLink"
                                    role="link" tabindex="0" aria-label="abd el madjid kahoul account"
                                    href="/account.html">Account</a>
                            </div>
                        </div>
                    </div>
            
                    <!---->
            
                    <!---->
                    <p-accordion styleclass="ui-accordion-user-menu" class="">
                        <div class="ui-accordion-user-menu ui-accordion ui-widget ui-helper-reset">
            
            
                            <!---->
            
                            <!---->
            
                            <!---->
            
            
                        </div>
                    </p-accordion>
            
                    <div class="user-menu__item">
                        <a class="user-menu__control" psimsg="proxyUser.logout" tabindex="0">Sign Out</a>
                    </div>
            
                </div>
            </header>
            <!---->
            <!---->
            <!---->
            <!---->
            <div id="main_element" class="content content--dashboard">
                <div class="content__wrapper">



                    <!---->
                    <!---->
                    <!---->

                    <div class="account-section-wrapper">
                        <h2 tabindex="0">
                            Sales by Stores
                        </h2>
                        <div class="ui-kit-card ui-kit-card-one ui-kit-card-generic">
                            <div class="account-details-wrapper account-cards-wrapper" style="
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
        ">
                                <div>
                                    <label for="store-dropdown">Select Store Type:</label>
                                    <select id="store-dropdown" style="
                                                padding-left: 20px;
                                                padding-right: 20px;
                                                margin-left: 10px;
                                                border-radius: 6px;
                                            ">
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                
                                    </select>
                                </div>
                                <div>
                                    <label for="department-dropdown">Select Department:</label>
                                    <select id="department-dropdown" style="
                padding-left: 20px;
                padding-right: 20px;
                margin-left: 10px;
                border-radius: 6px;
            "></select>
                                </div>


                            </div>
                        </div>
                    </div>






                    <div class="row g-4 mb-4 ">

                        <div class="app-card app-card-chart h-100 shadow-sm">
                            <div class="app-card-header p-3 border-0">
                                <h4 class="app-card-title">markdown slaes</h4>
                            </div><!--//app-card-header-->
                            <div class="app-card-body p-4">
                                <div class="chart-container">
                                    <canvas id="markdown1" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div><!--//app-card-body-->
                        </div><!--//app-card-->

                    </div>
                                        <div class="row g-4 mb-4 ">
                                        
                                            <div class="app-card app-card-chart h-100 shadow-sm">
                                                <div class="app-card-header p-3 border-0">
                                                    <h4 class="app-card-title">markdown slaes</h4>
                                                </div><!--//app-card-header-->
                                                <div class="app-card-body p-4">
                                                    <div class="chart-container">
                                                        <canvas id="markdown2" class="chartjs-render-monitor"></canvas>
                                                    </div>
                                                </div><!--//app-card-body-->
                                            </div><!--//app-card-->
                                        
                                        </div>
                                                         
                                        <div class="row g-4 mb-4 ">
                                                            
                                                                <div class="app-card app-card-chart h-100 shadow-sm">
                                                                    <div class="app-card-header p-3 border-0">
                                                                        <h4 class="app-card-title">markdown slaes</h4>
                                                                    </div><!--//app-card-header-->
                                                                    <div class="app-card-body p-4">
                                                                        <div class="chart-container">
                                                                            <canvas id="markdown3" class="chartjs-render-monitor"></canvas>
                                                                        </div>
                                                                    </div><!--//app-card-body-->
                                                                </div><!--//app-card-->
                                                            
                                                            </div>
              

                    <div class="row g-4 mb-4 ">
                    
                        <div class="app-card app-card-chart h-100 shadow-sm">
                            <div class="app-card-header p-3 border-0">
                                <h4 class="app-card-title">markdown slaes</h4>
                            </div><!--//app-card-header-->
                            <div class="app-card-body p-4">
                                <div class="chart-container">
                                    <canvas id="markdown4" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div><!--//app-card-body-->
                        </div><!--//app-card-->
                    
                    </div>

                                        <div class="row g-4 mb-4 ">
                                        
                                            <div class="app-card app-card-chart h-100 shadow-sm">
                                                <div class="app-card-header p-3 border-0">
                                                    <h4 class="app-card-title">markdown slaes</h4>
                                                </div><!--//app-card-header-->
                                                <div class="app-card-body p-4">
                                                    <div class="chart-container">
                                                        <canvas id="markdown5" class="chartjs-render-monitor"></canvas>
                                                    </div>
                                                </div><!--//app-card-body-->
                                            </div><!--//app-card-->
                                        
                                        </div>
                   
                    <div class="account-section-wrapper">
                        <h2 tabindex="0">
                            recomondation
                        </h2>
                        <div class="ui-kit-card ui-kit-card-one ui-kit-card-generic">
                            <div class="account-details-wrapper account-cards-wrapper">
                                <p tabindex="0" class="account-link-desc account-settings-desc">
                                    Please ensure your account has a valid email address and a valid mobile
                                    number. If you forget your password or Memorable Word, you will need this
                                    email address and mobile number to reset your password or Memorable Word and
                                    keep the access to your account.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->

            <!-- Code injected by live-server -->
            <script>
                // <![CDATA[  <-- For SVG support
                if ('WebSocket' in window) {
                    (function () {
                        function refreshCSS() {
                            var sheets = [].slice.call(document.getElementsByTagName("link"));
                            var head = document.getElementsByTagName("head")[0];
                            for (var i = 0; i < sheets.length; ++i) {
                                var elem = sheets[i];
                                var parent = elem.parentElement || head;
                                parent.removeChild(elem);
                                var rel = elem.rel;
                                if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                                    var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                                    elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                                }
                                parent.appendChild(elem);
                            }
                        }
                        var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
                        var address = protocol + window.location.host + window.location.pathname + '/ws';
                        var socket = new WebSocket(address);
                        socket.onmessage = function (msg) {
                            if (msg.data == 'reload') window.location.reload();
                            else if (msg.data == 'refreshcss') refreshCSS();
                        };
                        if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                            console.log('Live reload enabled.');
                            sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
                        }
                    })();
                }
                else {
                    console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
                }
                // ]]>
            </script>
            <!-- Code injected by live-server -->
            <script>
                // <![CDATA[  <-- For SVG support
                if ('WebSocket' in window) {
                    (function () {
                        function refreshCSS() {
                            var sheets = [].slice.call(document.getElementsByTagName("link"));
                            var head = document.getElementsByTagName("head")[0];
                            for (var i = 0; i < sheets.length; ++i) {
                                var elem = sheets[i];
                                var parent = elem.parentElement || head;
                                parent.removeChild(elem);
                                var rel = elem.rel;
                                if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                                    var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                                    elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                                }
                                parent.appendChild(elem);
                            }
                        }
                        var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
                        var address = protocol + window.location.host + window.location.pathname + '/ws';
                        var socket = new WebSocket(address);
                        socket.onmessage = function (msg) {
                            if (msg.data == 'reload') window.location.reload();
                            else if (msg.data == 'refreshcss') refreshCSS();
                        };
                        if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                            console.log('Live reload enabled.');
                            sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
                        }
                    })();
                }
                else {
                    console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
                }
                // ]]>
            </script>
            <!-- Code injected by live-server -->
            <script>
                // <![CDATA[  <-- For SVG support
                if ('WebSocket' in window) {
                    (function () {
                        function refreshCSS() {
                            var sheets = [].slice.call(document.getElementsByTagName("link"));
                            var head = document.getElementsByTagName("head")[0];
                            for (var i = 0; i < sheets.length; ++i) {
                                var elem = sheets[i];
                                var parent = elem.parentElement || head;
                                parent.removeChild(elem);
                                var rel = elem.rel;
                                if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                                    var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                                    elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                                }
                                parent.appendChild(elem);
                            }
                        }
                        var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
                        var address = protocol + window.location.host + window.location.pathname + '/ws';
                        var socket = new WebSocket(address);
                        socket.onmessage = function (msg) {
                            if (msg.data == 'reload') window.location.reload();
                            else if (msg.data == 'refreshcss') refreshCSS();
                        };
                        if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                            console.log('Live reload enabled.');
                            sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
                        }
                    })();
                }
                else {
                    console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
                }
                // ]]>
            </script>



</body>

</html>